body,html{
    height: 100%;
    margin: 0;
    font-family:Tahoma, "Trebuchet MS", sans-serif;
    color: white;
}
.logo{
    /**background-image: url("../logo_icons/logo.svg");*/
    padding-top: 10px;
    width: 60px;
}
#home-hero-image{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5))
    ,url("../images/home_banner.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#home-hero-header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media screen and (max-width: 460px){
    .name-tag{
       width: 300px;
    }
}
